<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <p>
        <a
          href="https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/1"
          ><b>Shortened URL #1: </b
          >https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/1</a
        >
      </p>
      <p>
        <a
          href="https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/2"
          ><b>Shortened URL #2: </b
          >https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/2</a
        >
      </p>
      <p>
        <a
          href="https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/3"
          ><b>Shortened URL #3: </b
          >https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/3</a
        >
      </p>
      <p>
        <a
          href="https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/4"
          ><b>Shortened URL #4: </b
          >https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/4</a
        >
      </p>
      <p>
        <a
          href="https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/5"
          ><b>Shortened URL #5: </b
          >https://url-shortener-microservice-mgzh.onrender.com/api/shorturl/5</a
        >
      </p>
    </main>
    <footer>
      <p>By Doğu Özcan</p>
    </footer>
  </body>
</html>
